a {
    text-decoration: none;
}

.side-menu {
    font-size: 14px;
    width: 17.14em;
    display: flex;
    flex-direction: column;
    background: #fff;
}



.side-menu hr {
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    border: 0;

}

.side-menu a {
    display: flex;
    align-items: center;
    height: 2.86em;
    width: 100%;
    line-height: 1.14em;
    color: black;
    padding-left: 1.86em;
    box-sizing: border-box;
}



.side-menu .icon{
    display: flex;
    justify-content: center;
    width: 1.79em;
    margin-right: 1em;

}

.side-menu a:hover{
    background: rgb(173, 169, 169);
}

svg {
    fill: #606060;
}

.side-menu a:active svg,
.side-menu .current svg {
    fill: red;
    transition: fill 0.5s;
}

.side-menu a.current {
    background: rgba(0, 0, 0, 0.1);
}

.side-menu--closed .text:active{
    color: red;
}
.side-menu .text:active{
    color: red;
}


.side-menu--closed .icon{
    margin: 0;
    width: initial;
}

.side-menu--closed a{
    flex-direction: column;
    padding: 0;
    height: 72px;
    justify-content: center;
    align-items: center;
}
.side-menu--closed .text{
    font-size: 9px;
}

.side-menu--closed{
    width: 72px;  
}
@media only screen and (max-width: 720px) {
    .side-menu{
        font-size: 12px;
    }
}


@media only screen and (max-width: 450px) {
    .side-menu--closed{
        width: 40px;
    }
    .side-menu--closed a{
        height: 55px;
    }
    .side-menu--closed .text {
        display: none;
    }
}
 